@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
  background: #ddd;
}

.app {
  display: flex;
  flex-direction: column;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  background: #000;
  color: #fff;
  order: 1;
}

.container {
  padding: 24px 0;
  margin: auto;
  width: 88%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.selector-container,
.selector {
  font-size: 19px;
}

.selector-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 0;
}

.selector {
  background: #000;
  color: #fff;
  border-radius: 5px;
  text-align: end;
}

.option {
  font-size: 12px;
  /* width: fit-content; */
}

.beerTile {
  top: 88px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 88%;
  margin: 24px auto;
  order: 2;
  flex: 1;
  min-height: 0px;
  grid-gap: 17px;
}

.tile {
  border: 1px solid #f51;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background: #fff;
}

.title,
.beer {
  text-align: center;
  padding: 17px;
}

.beer {
  border-bottom: 1px solid #f51;
  flex: 1;
}

.beer:hover {
  cursor: pointer;
}

img {
  height: 188px;
}

p {
  height: 195px;
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

.paginator {
  padding: 24px;
  color: #fff;
  background: #f51;
  order: 3;
  width: 100%;
  margin: auto;
  display: flex;
  text-align: center;
  justify-content: center;
}

.btn {
  padding: 11px;
  font-size: 17px;
  font-weight: bold;
  border-radius: 7px;
}

.btn:hover {
  cursor: pointer;
  color: #000;
  font-weight: bolder;
}

.app:focus {
  outline: none;
}
